.{
	margin:0;
	padding:0;
	box-sizing: border-box;
	}
	
	body{ 
	/*font-family: 'Pangolin', cursive;*/
	font-family: 'Zen Dots', cursive;
	}
	
.contenedor{ 
    padding: 60px 0;
	width:90%;
	max-width:1000px;
	margin: auto;
	overflow: hidden;	
}

.textos-header{ 
font-family: 'Pangolin', cursive;
color: #f2f2f2;
font-size: 30px;
text-align: center;
margin-bottom: 60px;
}

header{ 
width:100%;
height:400px;
background:linear-gradient(to right, rgba(223, 51, 255,0),rgba(51, 72, 255,1)),url(portada.jpg);



background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;

}

nav{ 
 text-align:right;
 padding: 15px 25px 0 0;
}

nav>a{ 
 color: #fff;
 font-weight: 300;
 text-decoration: none;
 margin-right: 10px;
}

nav>a:hover{ 
text-decoration: underline;
}

.waver{ 
position:absolute;
bottom:0;
width:100%;
}
.contenedor-sobre-nosotros{ 
display: flex;
justify-content: space-evely;
}

.imagen-svg{ 
width:48%;
}

.contenedor-general{ 
background:#10E9DD ;
}


.sobre-nosotros .contenidos-textos{ 
width:40%;
}

.contenedor-texto h3{ 
margin-bottom:15px;
}

.contenedor-texto h3 span{ 
background: #4d0686;
color: #fff;
border-radius:50%;
display: inline-block;
text-align: center;
width:30px;
height:30px;
padding:5px;
box-shadow: 0 0 6px 0 rgba(0,0,0.5);
margin-right:10px;
}

.contenedor-texto p{
padding:0px, 0px, 30px, 15px;
font-weight:300;
text-align: justify;
}
/* Galeria*/
.portafolio{
background: #f2f2b3;
text-align:center;
font-family: 'Josefin Sans', sans-serif;
	}
	
	.galeria-port{
display: flex;
justify-content: space-evely;
flex-wrap: wrap;
		}
		
		.imagen-port{
width:200px;
height:200px;
margin-bottom:10px;
			}		
			.imagen-port>img{
width:90%;
height:50%;
object-fit:cover;
display:block;
				}
/* footer*/

footer{ 
  background:#414141;
  padding: 60px, 0 3px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{ 
    display: flex;
	width:90%;
	justify-content: space-evely;
	margin:auto;
	padding-bottom: 50px;
	border-bottom:1px solid #ccc;
}

.conte-foo{ 
  text-align:center;
}


.conte-foo h4{ 
  color:#fff;
  border-bottom:3px solid #9f20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.conte-foo p{ 
 color:#ccc;
}


.titulo-final{ 
 text-align: center;
 font-size:18px;
 margin: 20px 0 0 0;
 color:#9e9797;
}

/*videos*/
.video-forma{ 
 background:#800000;
 padding:60px 0 3px 0;
 margin:auto;
 overflow:hidden;
 text-align:center;
}

.video-post{ 
padding-top:20px;
padding-bottom:20px;
width:60%;
margin:auto;
display:block;
}

/*audio*/
.audio-forma{ 
 height:800px;
background:linear-gradient(to right, rgba(255, 198, 51,0),rgba(233, 233, 16,0.5)),url(musica.jpg);
 padding:60px 0 3px 0;
 margin:auto;
 overflow:hidden;
 text-align:center;
}

.musica-post{ 
padding-top:30px;
padding-bottom:30px;

}

